.studios-wrapper {
  background-color: #ccc;
  border-bottom: 2px solid black;
  padding: 20px 0;
}
.studios {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  overflow-x: auto;
  padding: 15px 0;
}
