.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-item {
  width: 30%;
}
.navbar-collapse {
  flex-grow: 0;
}
.authentication {
  justify-content: flex-end;
}
.main-navigation {
  display: flex;
  align-items: center;
}
.main-navigation li {
  margin-left: 20px;
}
.account {
  position: relative;
  margin-left: auto;
  color: #000000;
}
.account::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: width 0.4s ease;
}
.account:hover {
  color: #1f1919;
  text-decoration: none;
}
.account:hover.account::after {
  left: 0;
  width: 100%;
}
