.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-item {
  width: 30%;
}
.navbar-collapse {
  flex-grow: 0;
}
.authentication {
  justify-content: flex-end;
}
.main-navigation {
  display: flex;
  align-items: center;
}
.main-navigation li {
  margin-left: 20px;
}
