.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.sort {
  margin-right: 20px;
}
.year .form-group {
  margin: 0;
}
@media (max-width: 850px) {
  .submit-btn {
    width: 100%;
    margin-top: 20px;
  }
  .year .form-control,
  .year label {
    width: 100%;
  }
  .year label {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  .year span {
    margin-bottom: 10px;
  }
}
@media (min-width: 850px) {
  .year {
    margin: 0 20px;
  }
}
@media (max-width: 850px) {
  .form-control.sort {
    width: 100%;
    margin-right: 0;
  }
  .form-group.year {
    width: 100%;
  }
}
