.genres {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 10px 0;
}
.genres li {
  margin: 10px 10px 0 0;
}
.genres-title {
  font-family: "Comic sans MS";
  font-size: 24px;
  margin-top: 10px;
  color: #000;
}
