.genres {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}
.genres li {
  margin-left: 10px;
}
.genres-title {
  font-family: 'Comic sans MS';
  font-size: 24px;
  margin-top: 10px;
}
