.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.year {
  margin: 0 20px;
}
.filter-title {
  font-family: 'Comic sans MS', cursive, Arial, Helvetica, sans-serif;
  text-align: center;
}
