.navbar-item .search {
  width: 100%;
  border: none;
}
@media (min-width: 992px) {
  .search {
    margin-left: 60px;
  }
}
@media (max-width: 992px) {
  .search {
    margin: 15px 0;
  }
}

@media (min-width: 576px) {
  .form-inline .form-control.search {
    width: 100%;
  }
}
