.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  z-index: 1;
  min-height: 100vh;
}

.movie-title {
  font-size: 60px;
  text-align: center;
  text-shadow: 0px 0px 6px #000000;
}
.description {
  color: #222222;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
  margin: 40px auto 0 auto;
  border-radius: 5px;
}
.description-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Comic sans MS', cursive, Arial, Helvetica, sans-serif;
}
.release {
  font-weight: 600;
}
.release-value {
  font-weight: 400;
  color: tomato;
}
.movie-text {
  margin-bottom: 20px;
}
.finances {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.budget,
.revenue {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.finances .budget {
  background-color: #cccccc;
  color: #222222;
}
.budget i,
.revenue i {
  font-size: 45px;
  margin-right: 20px;
}
.budget i {
  color: #222222;
}
.revenue {
  background-color: #222222;
  color: #ffffff;
}
/* .revenue i {
  color: tomato;
} */
.companies {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.companies li {
  width: 30%;
}
.cast {
  display: flex;
  overflow: auto;
}
.cast-item .slick-slide img {
}
.cast-item {
  text-decoration: none !important;
  padding: 0 10px;
}
.cast-item img {
  padding: 0 !important;
  width: 100%;
  height: 100%;
}
.character {
  font-size: 18px;
}
.name {
  font-size: 16px;
}
.cast li {
  width: 200px;
}

.cast li img {
  width: 100%;
  height: auto;
}
.slick-next:before,
.slick-prev:before {
  color: red;
}
.slick-prev,
.slick-next {
  z-index: 2;
}
.slick-prev {
  left: 0px;
}
.slick-next {
  right: 0px;
}
.slick-track {
  display: flex;
  flex-wrap: wrap;
}
