body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background-color: #222222;
}
::-webkit-scrollbar-thumb {
  background-color: #bdbab8;
  border: 3px solid #222222;
  border-radius: 9px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #928e8b;
}
::-webkit-scrollbar-thumb:focus {
  background-color: #4e4c4a;
}
*::-moz-scrollbar {
  width: 15px;
}
*::-moz-scrollbar-track {
  background-color: #222222;
}
*::-moz-scrollbar-thumb {
  background-color: #ff8000;
  border: 3px solid #222222;
  border-radius: 9px;
}

img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  font-family: Helvetica, Arial, sans-serif;
}
.form-control:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
  border-color: #5a5757;
}
.card-item {
  position: relative;
  overflow: hidden;
  transition: transform 1s ease;
  z-index: 2;
  border: none;
  min-height: 420px;
}
.card-item:hover img {
  transform: scale(1.2);
}
.card-item:hover .card-item-content {
  transform: translateY(0);
}
.card-item-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* background-color: lightgreen; */
  transform: translateY(100%);
  z-index: 0;
  transition: 0.4s ease;
}
.card-item-badge {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px #000000;
  font-weight: bold;
}
.card-item img {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: 0.4s ease;
}
.card-item-link {
  text-align: center;
  position: absolute;
  top: 50%;
  display: block;
  font-size: 34px;
  width: 100%;
  color: #f3e8e8;
  transform: translateY(-50%);
}

.section-title {
  font-family: 'Comic sans MS', cursive, Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}
.page-item.active .page-link {
  color: #fff;
  background-color: #222222;
  border-color: #222222;
}
.page-link {
  color: #222222;
}
.page-link:hover {
  color: #000000;
}
.page-link:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.25);
}
.pagination-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.item-row {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.myRow {
  display: flex;
  align-items: flex-start;
}
.slick-slide img {
  padding: 0 10px;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.column {
  padding: 0 10px;
  width: calc(25% - 20px);
  margin-bottom: 20px;
}
.column img {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 750px) {
  .item-row {
    flex-direction: column;
  }
  .item-row img {
    border-top-left-radius: 0;
  }
}
