body .root {
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--white);
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark);
}

*::-moz-scrollbar {
  width: 10px;
}
*::-moz-scrollbar-track {
  background-color: var(--white);
}
*::-moz-scrollbar-thumb {
  background-color: var(--dark);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

input.form-control {
  border-radius: 0;
}

.section-title {
  font-size: 35px;
  margin: 20px 0;
  text-align: center;
  color: var(--dark);
}

.text-white {
  color: var(--white);
}

.pagination-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.item-row {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.myRow {
  display: flex;
  align-items: flex-start;
}
.slick-slide img {
  padding: 0 10px;
  text-align: center;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.column {
  padding: 0 10px;
  width: calc(25% - 20px);
  margin-bottom: 20px;
}

.card {
  background-color: transparent;
  border: none;
}
.media-view .card-body {
  padding: 0.5rem 1.25rem;
}

.column img {
  width: 100%;
  border-radius: 10px;
}
.creative-title {
  font-size: 34px;
  text-align: center;
  font-family: "Trade Winds";
  margin-bottom: 20px;
  color: var(--dark);
}

.container .nav-pills .nav-link {
  border: none;
}

.nav-link {
  cursor: pointer;
}

.container .nav-pills .nav-link.active,
.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
  background-color: #f8f5f0;
  border: none;
}

.form-container {
  max-width: 450px;
  margin: 0 auto;
}

.media-view {
  padding-top: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-block {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.5rem 0;
}

.card-text {
  font-family: "Roboto";
}

.media-view-card {
  border: none;
  width: 100%;
  margin: 0 auto;
  color: var(--black);
  background-color: #ffffff;
  box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.6);
  /* background-color: transparent; */
}

.media-view .btn-rounded {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0;
  font-size: 15px;
  /* padding: 8px 17px; */
}

.media-view-card-img {
  position: relative;
  height: 100%;
  width: 100%;
}
.media-view-card-img::after {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  bottom: 0;
  border: 50px solid transparent;
  border-right: 50px solid var(--white);
  border-bottom: 50px solid var(--white);
}

.media-view-card-img img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.media-view-title {
  font-family: "Trade Winds", cursive;
  color: var(--white);
  padding: 0 20px;
  font-size: 3rem;
  text-align: right;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
  margin-bottom: 70px;
}
@media (max-width: 1000px) {
  .media-view {
    padding-top: 100px;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    left: -60px;
  }
}

@media (max-width: 768px) {
  .media-view-user-buttons {
    display: flex;
    padding: 1rem;
  }
  .media-view-user-buttons button:first-child {
    margin-right: 1rem;
  }
}

@media (max-width: 750px) {
  .item-row {
    flex-direction: column;
  }
  .item-row img {
    border-top-left-radius: 0;
  }
}

@media (max-width: 550px) {
  .media-view {
    padding-top: 35px;
  }
  .media-view-title {
    margin-bottom: 50px;
  }
}
